<h1>{{title}}</h1>


<div >
    <!-- Navigation -->
    <nav></nav>
        <a href="konti"><b>HTML-table forbundet til DB</b> - Dynamisk tabel over alle brugere og konti i systemet</a><br><br>
        <a href="konti/json"><b>GET Request</b> - Viser alle konti i systemet i JSON-format</a><br><br>
        <a href="html/opretNyBruger.html"><b>POST Request</b> - Opret en ny bruger i systemet vha. HTML-form</a><br><br>
        <a href="html/redigerData.html"><b>PUT Request</b> - Rediger data for en specifik bruger/konto vha. HTML-form</a><br><br>
     <!--   <a href="html/dummyLogin.html"><b>Dummy Login</b> - Log ind i systemet med ID og kodeord</a> -->
    </nav>
</div>
